@font-face {
    font-family: Lekton;
    src: url(https://fonts.google.com/share?selection.family=Lekton:ital,wght@0,400;0,700;1,400);
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #9cf7e1;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.homepage-title {
    text-align: center;
    font-size: large;
    font-family: Lekton;
}
